<mat-card class="sum-card">
    <p *ngIf="expensesToPay$ | async as expensesToPay">Despesas a pagar: {{expensesToPay | currency}}</p>
    <p *ngIf="expensesPaid$">Seus gastos somam {{expensesPaid$ | async | currency}}</p>
    <p *ngIf="sumInvestment$">Você investiu {{sumInvestment$ | async | currency}} esse mês, Parabéns!</p>
</mat-card>

<div *ngIf="expensesOrdered$ | async as expenses">
    <mat-card class="expense-card" *ngFor="let expense of expenses">
        <p class="category">{{expenseTypePtBR[expense.type]}}</p>
        <p>{{expense.description}} (vence dia {{expense.expirationDay}}) {{expense.value | currency}}
            <mat-checkbox [(ngModel)]="expense.isPaid" class="checkbox" (change)="sort()"></mat-checkbox>
        </p>
    </mat-card>
</div>

<ng-template #empty>
    <mat-card class="no-itens-card">
        <p>ops não temos despesas! :D cadastre algumas</p>
    </mat-card>
</ng-template>