{{transactions$ | async | json}}

<mat-tab-group mat-align-tabs="start">
    <mat-tab *ngFor="let account of transactions$ | async" [label]="account.key">
        <mat-card class="balance-card">Saldo Conta {{account.sum | currency}}</mat-card>
        <mat-list role="list">
            <mat-list-item *ngFor="let transation of account.itens" role="listitem">
                {{transation.date | date: 'dd/MM'}} 
                {{transation.description}} 
                {{transation.value | currency}}
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Minhas Despesas">
       <app-expenses-table></app-expenses-table>
    </mat-tab>
</mat-tab-group>
